@import "bootstrap";
@import "bootstrap-icons";

.max-width {
  width: 100%;
  min-height: 400px;
  object-fit: cover;
}

.info {
  display: none;
}

.card:hover {
  img {
    display: none;
  }

  .info {
    display: block;
  }
}
